nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black; 
    padding: 10px;
    display: flex;
  align-items: center;
  }

 nav> p{
    color: red;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;

  }
  .nav-links {
    display: flex;
    gap: 10px;
    color: white;
    margin-left: 2%;
    
  }